/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

nav a {
  color: #007BFF;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* Card Styles */
.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  width: 30%; /* Set the card width to 30% */
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px; /* Set a fixed height for images */
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
  border-radius: 8px;
}

.card h3 {
  font-size: 1.5em;
  margin: 8px 0;
}

.card .description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 6em;
  line-height: 1.5em;
  margin-bottom: 8px;
}

.card a {
  display: inline-block;
  margin-top: 8px;
  color: #007BFF;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

/* Add Blog Form Styles */
.add-blog {
  margin: 20px 0;
}

.add-blog h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.post-form {
  display: flex;
  flex-direction: column;
}

.post-form input,
.post-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
}

.post-form button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.post-form button:hover {
  background-color: #0056b3;
}

/* Posts Container Styles */
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Center align the cards with space around them */
}
